<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546119961072-gagar0rklvln2vdo82a5ha1enip01bp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546119961072-gagar0rklvln2vdo82a5ha1enip01bp4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>546119961072-tmgd1vdoobl00opni9252urkjgmbu4ku.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUM6PqbnYqoNGngQ3TfvFG3udHqAKbypc</string>
	<key>GCM_SENDER_ID</key>
	<string>546119961072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wings.wingsdating</string>
	<key>PROJECT_ID</key>
	<string>wings-dating-951ed</string>
	<key>STORAGE_BUCKET</key>
	<string>wings-dating-951ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546119961072:ios:e18673a382af989fd9b535</string>
	<key>DATABASE_URL</key>
	<string>https://wings-dating-951ed-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>